.root {
    text-align: center;
}

.container {
    display: inline-block;
    text-align: left;
}

.lbl {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin-bottom: 7px;
}

.fld {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
}

.err {
    color: red;
}

.btns-panel {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.btn {
    margin: 0px 5px 0px 5px;
}
